---
title: "전처리 | 연속형 자료의 범위 조정"
author: "강신성"
date: "2023-10-22"
date-format: iso
categories: [python, Scaler]
---

> `sklearn.preprocessing`을 이용하여 자료의 범위를 전처리해보자.

###### 해당 자료는 전북대학교 통계학과 최규빈 교수님의 강의 내용을 토대로 재구성되었음을 밝힙니다.

## 1. 라이브러리 import

In [1]:
import pandas as pd
import numpy as np
import sklearn.preprocessing

## 2. `MinMaxScaler`

### **A. 모티브**
---

\- 예제자료 : 학점, 토익 등이 취업에 미치는 정도

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/MP2023/main/posts/employment.csv').loc[:7,['toeic','gpa']]
df

   toeic       gpa
0    135  0.051535
1    935  0.355496
2    485  2.228435
3     65  1.179701
4    445  3.962356
5     65  1.846885
6    290  0.309928
7    730  0.336081

\- 모형을 돌려보고 해석한 결과...
(```sklearn.linear_model.Linear_Regression()```)

```
u = X.toeic*0.00571598 + X.gpa*2.46520018 -8.45433334
v = 1/(1+np.exp(-u))
v # 확률같은것임
```

**그래서...**
* 토익이 중요해? 아니면 학점이 중요해?
* 무엇이 얼만큼 중요해?

\- 모티브 : 토익과 gpa 모두 0~1 사이의 척도로 바꾸면 해석이 쉽지 않을까?

### **B. 사용방법**
---

* class를 이용, object를 생성하는 방법(이전과 유사한 방법)

In [4]:
scalr = sklearn.preprocessing.MinMaxScaler()

scalr.fit(df)

scalr.transform(df)  ## 전처리의 경우에는 transform을 사용한다. .impute.SimpleImputer()에서도 그랬잖아?

array([[0.08045977, 0.        ],
       [1.        , 0.07772319],
       [0.48275862, 0.55663499],
       [0.        , 0.28847292],
       [0.43678161, 1.        ],
       [0.        , 0.45907256],
       [0.25862069, 0.06607128],
       [0.76436782, 0.07275881]])

* 역시 한번에 할 수도 있다.

In [7]:
scalr.fit_transform(df)  ## 당연히 원래 자료를 훼손하진 않는다.

array([[0.08045977, 0.        ],
       [1.        , 0.07772319],
       [0.48275862, 0.55663499],
       [0.        , 0.28847292],
       [0.43678161, 1.        ],
       [0.        , 0.45907256],
       [0.25862069, 0.06607128],
       [0.76436782, 0.07275881]])